{% extends 'base.html.twig' %}

{% block title %}Demander un congé{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Demander un congé</h1>

        {{ form_start(form) }}
        {{ form_row(form.dateDebut) }}
        {{ form_row(form.dateFin) }}

        <button class="btn btn-primary">Envoyer la demande</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
