{% extends 'base.html.twig' %}

{% block title %}Mes Congés{% endblock %}

{% block body %}
    <h1>Mes demandes de congés</h1>

    <table>
        <thead>
        <tr>
            <th>Date de début</th>
            <th>Date de fin</th>
            <th>Statut</th>
        </tr>
        </thead>
        <tbody>
        {% for conge in conges %}
            <tr>
                <td>{{ conge.dateDebut|date('Y-m-d') }}</td>
                <td>{{ conge.dateFin|date('Y-m-d') }}</td>
                <td>{{ conge.estValide ? 'Validé' : 'Non validé' }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune demande de congé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <!-- Bouton pour rediriger vers la page de demande de congé -->

    <a href="{{ path('app_conges_demande', {id: app.user.id}) }}" class="btn btn-primary">Faire une demande de congé</a>
{% endblock %}
