{% extends 'base.html.twig' %}

{% block title %}Créer un vol{% endblock %}

{% block body %}
    <h1>Créer un vol</h1>

    {{ include('vol/_form.html.twig', {'button_label': 'Créer'}) }}

    <a class="btn btn-secondary" href="{{ path('app_vol_index') }}">Retour à la liste</a>
{% endblock %}
